<!-- wp:group {"className":"particles-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group particles-box">
  <!-- wp:paragraph {"align":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|twiske-white"}}}},"textColor":"twiske-white","className":"hero-main-text","fontSize":"extra-large"} -->
  <p
    class="has-text-align-center hero-main-text has-twiske-white-color has-text-color has-link-color has-extra-large-font-size"
  >
    <strong>ANTONIJO GALIC</strong>
  </p>
  <!-- /wp:paragraph -->

  <!-- wp:group {"backgroundColor":"twiske-black","layout":{"type":"constrained"}} -->
  <div
    id="particles-js"
    class="wp-block-group has-twiske-black-background-color has-background"
  ></div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
