<!-- wp:group {"className":"particles-box","layout":{"type":"constrained"}} -->
<div class="wp-block-group particles-box">
  <!-- wp:group {"align":"full","className":"hero-main-box","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
  <div class="wp-block-group alignfull hero-main-box">
    <!-- wp:heading {"textAlign":"center","level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|twiske-white"}}}},"textColor":"twiske-white"} -->
    <h1
      class="wp-block-heading has-text-align-center has-twiske-white-color has-text-color has-link-color"
    >
      ANTONIJO GALIC
    </h1>
    <!-- /wp:heading -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
  <div class="wp-block-group">
    <!-- wp:html -->
    <div class="typing-title">
      <span>a fullstack developer.</span>
      <span>a husband.</span>
      <span>a father.</span>
      <span>a coder.</span>
    </div>
    <p class="typed-text">Hi, I am <span class="typed-title"></span></p>
    <!-- /wp:html -->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"backgroundColor":"twiske-black","layout":{"type":"constrained"}} -->
  <div
    id="particles-js"
    class="wp-block-group has-twiske-black-background-color has-background"
  ></div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
